@model NewVoyager.Models.Plans

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/planDetails.css">
<div class="planovi">
    <div class="plan-ime">
        <p>@Html.DisplayFor(model => model.PlanName)</p>
    </div>
    <hr />
    <div class="btn-AddTrip-container">
        <p class="trips-header">Trips</p>
        <div class="btn-AddTrip">
            <a asp-controller="Trip" asp-action="Create" asp-route-planId="@Model.PlanID" class="">
                <img style="width: 1.9rem; height: 1.9rem;" src="~/images/plus_icon.svg" alt="Add Trip">
            </a>
        </div>
    </div>
    <div class="container-fluid kartice-container">
        <div class="row">
        @if(Model.Trips != null && Model.Trips.Any())
        {
            @foreach (var trip in Model.Trips)
            {
                <div class="card col-3 mb-3" style="margin: auto">
                    <div class="card-header" style="background-color:#815854; color:#F9EBDE;">
                        @Html.DisplayFor(modelItem => trip.TripName)
                        <br>
                        @trip.DateFrom?.ToString("d") - @trip.DateTo?.ToString("d")
                    </div>
                    <div class="card-body">
                        @if (trip.Events != null && trip.Events.Any()) // Check if there are any events
                            {
                                foreach (var dogadjaj in trip.Events)
                                {
                                    <div class="event-container form-check">
                                        <input class="form-check-input" type="checkbox" value="@dogadjaj.EventID" id="event_@dogadjaj.EventID">
                                        <label class="form-check-label" for="event_@dogadjaj.EventID">  @dogadjaj.Opis</label>
                                            <div class="event-actions">
                                                <a asp-controller="Event" asp-action="Edit" asp-route-id="@dogadjaj.EventID">
                                                    <img class="event-icons" src="~/images/edit_icon.svg" alt="Edit">
                                                </a> |
                                                <a asp-controller="Event" asp-action="Details" asp-route-id="@dogadjaj.EventID">
                                                    <img class="event-icons" src="~/images/details_icon1.svg" alt="Details">
                                                </a> |
                                                <a asp-controller="Event" asp-action="Delete" asp-route-id="@dogadjaj.EventID">
                                                    <img class="event-icons" src="~/images/delete_icon.svg" alt="Delete">
                                                </a>
                                            </div>
                                    </div>
                                }
                            }
                        <a asp-controller="Event" asp-action="Create" asp-route-tripId="@trip.TripID" class="">
                            <img class="icons" src="~/images/plus_icon.svg" alt="Add Event">
                        </a>
                    </div>
                    <div class="card-footer" style="background-color:#815854; color:#F9EBDE;">
                        <a asp-controller="Trip" style="background-color:#F9EBDE; color:#815854;" asp-action="Edit" asp-route-id="@trip.TripID" class="btn ">
                            <img class="icons" src="~/images/edit_icon.svg" alt="Edit">
                        </a> |
                        <a asp-controller="Trip" style="background-color:#F9EBDE; color:#815854;" asp-action="Delete" asp-route-id="@trip.TripID" class="btn ">
                            <img class="icons" src="~/images/delete_icon.svg" alt="Delete">
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <div style="text-align: center;">
                <p style="font-size: 1.5rem;">There are no trips for this plan yet!</p>
            </div>
        }
        </div>
    </div>
</div>
