@model NewVoyager.Models.Plans

@{
    ViewData["Title"] = "Details";
}

<div class="planovi">
    <div>
        <h4>Plans</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PlanName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PlanName)
            </dd>
            
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PlanID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PlanID)
            </dd>
        </dl>
    </div>

    <h2>Trips</h2>
    <div>
        <a asp-controller="Trip" asp-action="Create" asp-route-planId="@Model.PlanID" class="btn btn-primary">Add Trip</a>
    </div>
    <div class="container-fluid kartice-container">
        <div class="row">
            @foreach (var trip in Model.Trips)
        {
            <div class="card col-3 mb-3" style="margin: auto">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => trip.TripName)
                    <br>
                    @trip.DateFrom?.ToString("d") - @trip.DateTo?.ToString("d")
                </div>
                <div class="card-body">
                    @if (trip.Events != null && trip.Events.Any()) // Check if there are any events
                        {
                            foreach (var dogadjaj in trip.Events)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@dogadjaj.EventID" id="event_@dogadjaj.EventID">
                                    <label class="form-check-label" for="event_@dogadjaj.EventID">
                                        @dogadjaj.Opis
                                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@dogadjaj.EventID">Edit</a> |
                                        <a asp-controller="Event" asp-action="Details" asp-route-id="@dogadjaj.EventID">Details</a> |
                                        <a asp-controller="Event" asp-action="Delete" asp-route-id="@dogadjaj.EventID">Delete</a>
                                    </label>
                                </div>
                            }
                        }
                    else
                        {
                            <p>No events currently available.</p> // Display a message if there are no events
                        }
                </div>
                <div class="card-footer">
                    <a asp-controller="Trip" asp-action="Edit" asp-route-id="@trip.TripID" class="btn btn-link">Edit</a> |
                    <a asp-controller="Trip" asp-action="Details" asp-route-id="@trip.TripID" class="btn btn-link">Details</a> |
                    <a asp-controller="Trip" asp-action="Delete" asp-route-id="@trip.TripID" class="btn btn-link">Delete</a>
                </div>
            </div>
        }
        </div>
        

    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.PlanID" class="btn btn-secondary">Edit Plan</a> |
        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </div>
</div>
